/* Style for "Brand" assignment - WEB-250 */

html, body {
	width: 100%;
	margin: 0;
}

body {
	background: url("../images/pawprint.png");
	background-color: #b3b3b3;
	background-repeat: repeat;
	background-size: 200px;
	background-attachment: fixed;
	color: #0d0d0d;
	font-family: 'Oxygen', sans-serif;	
}

a {
	text-decoration: none;
}

h3 {
	margin-bottom: 0;
}

p {
	margin-top: 3px;
}

b {
	font-weight: 900;
	font-size: 1em;
}

.output-div {
	width: 600px;
	text-align: left;
	border: 1px solid #333;
	padding: 20px;
	background-color: #ccc;
	margin-bottom: 25px;
	line-height: 25px;
}

.last-modified {
	position: absolute;
	bottom: 0;
	left: 15px;
	color: white;
	font-weight: lighter;
}

.email {
	position: absolute;
	bottom: 0;
	right: 15px;
	color: white;
	font-weight: lighter;
	line-height: 50px;
}

.email a {
	color: white;
}

.email a:hover {
	color: #bf8040;
}

.list-margins {
	margin-top: 0px;
	padding-left: 20px;
}

.text-center {
	text-align: center;
}

.text-brown {

}

.main {
	position: relative;
	width: 90%;
	min-width: 850px;
	display: block;
	margin: 10px auto 50px auto;
	background-color: #f2f2f2;
	height: 100%;
	max-width: 1200px;
}

.content {
	
	margin: 5px auto 30px auto;
	width: 90%;
	padding-bottom: 50px;
	opacity: 1;
	height: 100%;
}

.menu {
	height: 175px;
	background: #bf8040;
}

.small-height {
	background: #bf8040;
	height: 25px;
}

.header {
	text-align: center;
	color: #f2f2f2;
}

.title {
	font-family: 'Indie Flower', cursive;
	margin-bottom: 0;
	text-align: center;
	font-size: 3.2em;
	letter-spacing: 2.5px;
	margin-top: 10px;
	font-variant: small-caps;
}

.tag-line {
	text-align: center;
	margin-top: -10px;
	font-size: 1em;
}

.nav {
	color: #f2f2f2;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 50px;
    background-color: #1a1a1a;
}

.nav li {
    float: left;
}

.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
   
}

.nav li a:hover {
    background-color: #333333;
}

.beagle-header {
	position: absolute;
	float: left;
	left: 20px;
	margin-top: 10px;
}

.validate {
	position: static;
	display: block;
	text-align: center;
	width: 100%;
	background: #1a1a1a;
	height: 50px;
}

.validate a img {
	padding: 10px 0 10px 0;
}

.toc {
	width: 90%;
	display: block;
	margin: auto;
}

.toc-list li {
	font-size: 1.3em;
	list-style: none;
	margin: 0 0 10px 0;
	display: inline-block;
	color: #0d0d0d;
}

.toc-list li a {
	padding: 8px;
	color: #0d0d0d;
	-webkit-transition: .2s ease-out;
    -moz-transition: .2s ease-out;
    -o-transition: .2s ease-out;
    transition: .2s ease-out;
}

.toc-list li a:hover {
	color: #0d0d0d;
	background-color: rgba(191, 128, 64, .2);
}

.toc-list li a:visited {
	color: #0d0d0d;
}

.btn {
	font-size: 1em;
	color: #fff;
	background-color: #bf8040;
	width: 85px;
	border: 1px solid #f2f2f2;
	border-radius: 10px;
	box-shadow: 0 7px #444;
	-webkit-transition: .1s ease-out;
    -moz-transition: .1s ease-out;
    -o-transition: .1s ease-out;
    transition: .1s ease-out;
    outline: none;
}

.btn:hover {
	background-color: #994d00;
	cursor: pointer;
}

.btn:active {
	
  transform: translateY(4px);
  box-shadow: 0px 1px #000;
  background-color: #994d00;
}

.btn-clear {
	font-size: .8em;
	padding: 5px 10px 5px 10px;
	color: #fff;
	background-color: red;
	width: 100px;
	border: 1px solid #f2f2f2;
	border-radius: 50px;
	box-shadow: 0 7px #444;
	-webkit-transition: .1s ease-out;
    -moz-transition: .1s ease-out;
    -o-transition: .1s ease-out;
    transition: .1s ease-out;
    outline: none;
}

.btn-clear:hover {
	cursor: pointer;
	background-color: #cc0000;
}

.btn-clear:active {
	
  transform: translateY(4px);
  box-shadow: 0px 1px #000;
  background-color: #cc0000;
}

a, a:visited {
	color: #fff;
}

#text-link {
	color: #bf8040;
	text-decoration: underline;
}

#text-link:hover {
	color: #555;
}

input {
	padding: 5px;
}

.form {
	width: 300px;
	border: 1px solid #333;
	
	padding: 20px;
	background-color: #ccc;
}

.form-hr {
	margin-bottom: 10px;
}

.form-fizz {
	width: 600px;
	text-align: left;
	border: 1px solid #333;
	padding: 20px;
	background-color: #ccc;
	margin-bottom: 5px;
}

.form-fizz input {
	margin-bottom: 10px;
	width: 200px;
}

.form-div {
	
	display: inline;
}

.table {
	display: table;
}

.table-cell {
	display: table-cell;
}

.table-row {
	display: table-row;
}

.form-label {
	margin-left: 180px;
}

.form-input {
	margin-left: 25px;
}

.form-fizz input[type=submit], .form-everything input[type=submit] {
	display: block;
	margin: auto;
	width: 30%;
	padding: 3px 8px 3px 8px;
	font-size: 1em;
}

.required::after {
	color: rgba(204, 0, 0, 1);
	content: " *";
	display: inline;
	font-size: .9em;
}

.fizz-output {
	float: right;
}

.form-heading {
	margin: 8px 0px;
}
/************** Everything Form begin ************/

.form-everything {
	width: 600px;
	text-align: left;
	border: 1px solid #333;
	padding: 20px;
	background-color: #ccc;
	margin-bottom: 5px;
}

.form-everything input {
	display: inline-block;
	margin-right:10px;
	margin-bottom: 10px;
	width: 120px;
	font-size: .9em;
}

input[type=email] {
	width: 200px;
}

.lighter-text {
	color: rgba(77, 38, 0, .8);
	font-size: .9em;
	
}

.form-everything input[type=text]:focus,
.form-everything input[type=number]:focus,
.form-everything input[type=date]:focus,
.form-everything input[type=email]:focus,
.form-everything input[type=tel]:focus,
.form-everything input[type=password]:focus {
    background-color: rgba(191, 128, 64, .1);
    outline: inset;
    outline-color: #f2f2f2;
}



input::placeholder {
	color: rgba(191, 128, 64, .7);
} 

.form-everything input::placeholder {
	font-size: .9em;
}

.state-dropdown select {
	padding: 0px;
	font-size: 12pt;
	display: block;
	margin-right:10px;
	margin-top: 5px;
	margin-bottom: 10px;
	width: 185px;
}

.state-dropdown select:focus {
	background-color: #f2f2f2;
    outline: inset;
    outline-color: #f2f2f2;
}

.checkboxes input[type=checkbox] {
	cursor: pointer;
	margin-right: -3px;
	margin-top: 10px;
	width: 25px;
	border: 15px;
	height: 15px;		
} 

.checkboxes label {
	margin-right: 50px;
	margin-left: 0px;
	cursor: pointer;
	transition: .15s ease-in-out;
	padding: 5px;
}

.checkboxes label:hover {
	background-color: rgba(191, 128, 64, .2);
	cursor: pointer;
}

/* Radio Buttons */

.radio-buttons {
	margin-left: 10px;
}

.radio-buttons input[type=radio] {
	cursor: pointer;
	margin-left: 0px;
	margin-right: -5px;
	margin-top: 5px;
	width: 25px;
	border: 5px;
	height: 20px;	
}

.radio-buttons label {
	cursor: pointer;
	margin-right: 35px;
}

.form-everything label {
	margin-right: 10px;

}

.float-r {
	float: right;
}

.float-l {
	float: left;
}

.form-everything br {
	clear: both;
}

.form-everything input:invalid+span:after {
    content: '✖';
    color: red;
    margin-left: -10px;
    margin-right: 5px;
}

.form-everything input:valid+span:after {
    content: '✓';
    color: green;
    margin-left: -10px;
    margin-right: 5px;
}

#beagleInput {
	cursor: col-resize;
	cursor: grab;
	width: 350px;
}

#beagleInput:active {
	cursor: grabbing;
}

#beagleOutput {
	display: block;
	margin-top: 5px;
	margin-bottom: -15px;
	font-size: 1.3em;
	color: rgba(191, 128, 64, 1);
}

#passwordCheck {
	margin-right: 3px;
	width: 15px;
	height: 15px;
}

.small-print {
	display: block;
	font-size: .8em;
	margin-top: -3px;
	
	font-style: italic;
}

.cursor-pointer {
	cursor: pointer;
}

.cursor-pointer input {
	cursor: pointer;
}

.username-div {

	margin-right: 13px;
}

.padding-btn {
	padding: 10px;

}

#method-toggle {
	background-color: #e6e600; color: #333;
}

#method-toggle:hover {
background-color: #cccc00;
}

.submit-everything-form-test {
	background-color: #00b33c;
}

.submit-everything-form-test:hover {
	background-color: #009933;
}

.dynamic-text-div {
	width: 100%;
	min-width: 750px;
}

.profile-names {
	width: 200px;
	height: 375px;
	text-align: left;
	border: 1px solid #333;
	display: inline-block;
	background-color: #ccc;
	margin-bottom: 25px;
	float: left;
	overflow-x: hidden;
	
}

.profile {
	margin-left: 30px;
	width: 68%;
	
	height: 375px;
	text-align: left;
	border: 1px solid #333;
	display: inline-block;
	background-color: #ccc;
}

.profile-content {
	padding-left: 15px;
	padding-right: 15px;
}

.profile-content2 {
	font-size: 1em;
	padding-left: 15px;
	padding-right: 15px;
	float: left;
}

.profile-img {
	float: left;
	position: relative;
}

.profile h3 {

	background-color: #999;
	height: 50px;
	line-height: 50px;
	margin: 0;
	padding-left: 15px;	
}

.profile-names ul li {
	margin: 0;
}

.profile-names ul li a {
	color: #333;
	padding: 5px 15px;
	width: 100%;
	transition: .1s ease-in-out;	
	display: block;
}

.profile-names ul li a:hover {
	background-color: rgba(191, 128, 64, .2);
}

.profile-names ul {
	list-style-type: none;
	display: block;
	list-style: none;
	padding: 0;
}



.profile img {
	width: 225px;
	height: 170px;
	border-radius: 50%;
	padding-top: 10px;
	margin: 0 auto;
	display: block;
}

.profile-img img {
	width: 320px;
	height: 240px;
	border-radius: 0;
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-top: 40px;
	margin-bottom: 0;
	
	
}	



.sticky-header {
  background-color: #999;
  height: 50px;
  line-height: 50px;
  margin: 0;
  padding-left: 15px;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  width: 100%;
}




